ClientSolution/WPFApplication/Service References/DataService/GeoDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GeoDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53455/geodata.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53455/geodata.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53455/geodata.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ut.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeoDataService_AddIssue_InputMessage">
    <wsdl:part name="parameters" element="tns:AddIssue" />
  </wsdl:message>
  <wsdl:message name="IGeoDataService_AddIssue_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddIssueResponse" />
  </wsdl:message>
  <wsdl:message name="IGeoDataService_UpdateIssue_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIssue" />
  </wsdl:message>
  <wsdl:message name="IGeoDataService_UpdateIssue_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIssueResponse" />
  </wsdl:message>
  <wsdl:message name="IGeoDataService_RemoveIssueBy_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveIssueBy" />
  </wsdl:message>
  <wsdl:message name="IGeoDataService_RemoveIssueBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveIssueByResponse" />
  </wsdl:message>
  <wsdl:message name="IGeoDataService_GetAllIssues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIssues" />
  </wsdl:message>
  <wsdl:message name="IGeoDataService_GetAllIssues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIssuesResponse" />
  </wsdl:message>
  <wsdl:message name="IGeoDataService_GetItemBy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemBy" />
  </wsdl:message>
  <wsdl:message name="IGeoDataService_GetItemBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemByResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeoDataService">
    <wsdl:operation name="AddIssue">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeoDataService/AddIssue" message="tns:IGeoDataService_AddIssue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeoDataService/AddIssueResponse" message="tns:IGeoDataService_AddIssue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIssue">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeoDataService/UpdateIssue" message="tns:IGeoDataService_UpdateIssue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeoDataService/UpdateIssueResponse" message="tns:IGeoDataService_UpdateIssue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveIssueBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeoDataService/RemoveIssueBy" message="tns:IGeoDataService_RemoveIssueBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeoDataService/RemoveIssueByResponse" message="tns:IGeoDataService_RemoveIssueBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllIssues">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeoDataService/GetAllIssues" message="tns:IGeoDataService_GetAllIssues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeoDataService/GetAllIssuesResponse" message="tns:IGeoDataService_GetAllIssues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeoDataService/GetItemBy" message="tns:IGeoDataService_GetItemBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeoDataService/GetItemByResponse" message="tns:IGeoDataService_GetItemBy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGeoDataService" type="tns:IGeoDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddIssue">
      <soap:operation soapAction="http://tempuri.org/IGeoDataService/AddIssue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIssue">
      <soap:operation soapAction="http://tempuri.org/IGeoDataService/UpdateIssue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveIssueBy">
      <soap:operation soapAction="http://tempuri.org/IGeoDataService/RemoveIssueBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIssues">
      <soap:operation soapAction="http://tempuri.org/IGeoDataService/GetAllIssues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemBy">
      <soap:operation soapAction="http://tempuri.org/IGeoDataService/GetItemBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeoDataService">
    <wsdl:port name="BasicHttpBinding_IGeoDataService" binding="tns:BasicHttpBinding_IGeoDataService">
      <soap:address location="http://localhost:53455/geodata.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>