ClientSolution/CommonLib/Service References/AwesomeService/geodata1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53455/geodata.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ut.Data" />
  <xs:element name="AddIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ut.Data" minOccurs="0" name="issue" nillable="true" type="q1:IssueItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddIssueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ut.Data" minOccurs="0" name="issue" nillable="true" type="q2:IssueItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateIssueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIssueBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIssueByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveIssueByResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIssues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIssuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ut.Data" minOccurs="0" name="GetAllIssuesResult" nillable="true" type="q3:ArrayOfIssueItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ut.Data" minOccurs="0" name="GetItemByResult" nillable="true" type="q4:IssueItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ut.Data" minOccurs="0" name="issue" nillable="true" type="q5:IssueItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>